.venue p
{
    position:absolute;
    color:rgb(187, 66, 187);
    padding:10px;
    padding-top: 100px;
    font-size: 20px;
    padding-left: 100px;
}
.venue .u 
{
    padding-top: 4px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    color:rgb(60, 139, 150);
    text-align: justify;
}
.venue .u1
{
    padding-top: 140px;
}

.venue .h
{
    background-color: rgba(75, 169, 192, 0.089);
    text-align: center;
    color:#fff;
    padding-top: 70px;
}

.copyright 
{
    padding: 10px;
    margin-top: 100px;
    background-color: rgba(75, 169, 192, 0.089);
    text-align: center;
    font-size: 20px;
}
.copyright a
{
    text-decoration: none;
}

/* CSS OF FAQs */

body{
  background: #252525;
  padding-top: 20px;
  font-family: monospace;
}
.header{
  border-radius: 20px 20px 0px 0px;
  padding: 10px 0px;
  background: rgb(67, 29, 204);
  color: #fff;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.faq-item{
  margin-bottom: 40px;
  margin-top: 40px;
  font-size:30px;
  font-style: italic;
  color:rgb(213, 235, 223);
}
.faq-body{
  display: none;
  margin-top: 30px;
  font-size:20px;
  font-style: bold;
  color:rgb(76, 102, 158);
}
.faq-wrapper{
  width: 75%;
  margin: 0 auto;
}
.faq-inner{
  padding: 30px;
  background: rgb(27, 28, 29);
}
.faq-plus{
  float: right;
  font-size: 1.4em;
  line-height: 1em;
  cursor: pointer;
}
hr{
  background-color: #9b9b9b;
}

/* css of Header */

header
{
  background-color:#333 !important;
}
.header{
  border-radius: 20px 20px 0px 0px;
  padding: 20px 0px;
  background-color: rgba(44, 27, 44, 0.062);
  background: rgb(67, 29, 204);
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.header .logo
{
    font-weight: bolder;
    color:#c7bbbb;
    font-size: 1.8rem;
    text-decoration: none;
    padding-right: 900px;
}
.header .logo span
{
    color:peru;
}